<a href="https://colab.research.google.com/github/KiranGaikwad2020/Data_Science/blob/Dev/PandasDataFrameOperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# Example on DataFrame

# PART I - Basic operations using DataFrame

# Create a dictionary with student data

import pandas as pd

student_data = {
    "Name": ["Ajay", "Bharat", "Chandan", "Daya", "Eshwar", "Flagun"],
    "Age": [20, 21, 19, 22, 23, 20],
    "Major": ["CS", "Math", "Physics", "Economics", "Biology", "Chemistry"],
    "Score": [85, 92, 78, 95, 88, 90],
    "Hometown": ["Pune", "Ahilyanagar", "Chandrapur", "Nagpur", "Sangli", "Mumbai"],
    "Graduation Year": [2022, 2023, 2022, 2023, 2024, 2023],
    "Scholarship": [False, True, False, True, False, False]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(student_data)

# Print the DataFrame
print(df)

# Display the first few rows of the DataFrame
# print(df.head())

# Display a summary of the DataFrame
#print(df.describe())

# Display information about the DataFrame
# print(df.info())

# Display DataFrame Dimensions
# print(df.shape)

# PART II - Handling missing values

# 1. Check for missing values in the DataFrame
# print(df.isnull().sum())

# 2. Drop rows with missing values
# df.dropna()


# 3. Fill missing values with a specific value
# df.fillna(0)


# 4. Fill missing values using a function, define mean() first
# df.fillna(df.mean())

      Name  Age      Major  Score     Hometown  Graduation Year  Scholarship
0     Ajay   20         CS     85         Pune             2022        False
1   Bharat   21       Math     92  Ahilyanagar             2023         True
2  Chandan   19    Physics     78   Chandrapur             2022        False
3     Daya   22  Economics     95       Nagpur             2023         True
4   Eshwar   23    Biology     88       Sangli             2024        False
5   Flagun   20  Chemistry     90       Mumbai             2023        False